<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Hyper Company</title>
</head>
<body>
    <header>
        <h1>Hi Everybody</h1>
        <nav>
            <ul>
                <li><a href="#anasayfa">Homepage</a></li>
                <li><a href="#hakkimizda">Who are We</a></li>
                <li><a href="#iletisim">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
